
data/UCI HAR Dataset/features.txt

data/UCI HAR Dataset/README.txt

data/UCI HAR Dataset/test/Inertial Signals/body_acc_x_test.txt

data/UCI HAR Dataset/train/Inertial Signals/total_acc_z_train.txt

data/UCI HAR Dataset/train/Inertial Signals/body_gyro_z_train.txt

data/UCI HAR Dataset/train/subject_train.txt

data/UCI HAR Dataset/train/y_train.txt

data/UCI HAR Dataset/train/Inertial Signals/body_acc_z_train.txt

data/UCI HAR Dataset/train/Inertial Signals/body_gyro_y_train.txt

data/UCI HAR Dataset/train/Inertial Signals/total_acc_x_train.txt

data/UCI HAR Dataset/train/X_train.txt

data/UCI HAR Dataset/train/Inertial Signals/body_acc_x_train.txt

data/UCI HAR Dataset/test/Inertial Signals/total_acc_z_test.txt

data/UCI HAR Dataset/train/Inertial Signals/body_gyro_x_train.txt

data/UCI HAR Dataset/test/subject_test.txt

data/UCI HAR Dataset/train/Inertial Signals/total_acc_y_train.txt

data/UCI HAR Dataset/test/Inertial Signals/body_gyro_z_test.txt

data/UCI HAR Dataset/test/Inertial Signals/body_gyro_x_test.txt

data/UCI HAR Dataset/test/Inertial Signals/total_acc_y_test.txt

data/UCI HAR Dataset/train/Inertial Signals/body_acc_y_train.txt

data/UCI HAR Dataset/test/Inertial Signals/body_acc_y_test.txt

data/UCI HAR Dataset/test/y_test.txt

data/UCI HAR Dataset/test/Inertial Signals/body_acc_z_test.txt

data/UCI HAR Dataset/test/Inertial Signals/total_acc_x_test.txt

data/UCI HAR Dataset/features_info.txt

data/UCI HAR Dataset/test/Inertial Signals/body_gyro_y_test.txt

data/UCI HAR Dataset/activity_labels.txt

data/dataset.zip

UCI HAR Dataset/features.txt

UCI HAR Dataset/train/Inertial Signals/total_acc_z_train.txt

UCI HAR Dataset/train/y_train.txt

UCI HAR Dataset/train/Inertial Signals/total_acc_y_train.txt

UCI HAR Dataset/train/Inertial Signals/body_gyro_y_train.txt

UCI HAR Dataset/train/Inertial Signals/body_acc_z_train.txt

UCI HAR Dataset/train/Inertial Signals/body_acc_z_train.txt

UCI HAR Dataset/train/Inertial Signals/body_gyro_x_train.txt

UCI HAR Dataset/test/y_test.txt

UCI HAR Dataset/train/Inertial Signals/body_gyro_z_train.txt

UCI HAR Dataset/train/Inertial Signals/body_acc_y_train.txt

UCI HAR Dataset/features_info.txt

UCI HAR Dataset/activity_labels.txt

UCI HAR Dataset/test/Inertial Signals/body_acc_z_test.txt

UCI HAR Dataset/test/Inertial Signals/body_acc_x_test.txt

UCI HAR Dataset/test/Inertial Signals/body_acc_y_test.txt

UCI HAR Dataset/test/Inertial Signals/body_gyro_y_test.txt

UCI HAR Dataset/test/Inertial Signals/body_gyro_y_test.txt

UCI HAR Dataset/test/Inertial Signals/body_gyro_x_test.txt

UCI HAR Dataset/test/Inertial Signals/body_gyro_z_test.txt

UCI HAR Dataset/test/Inertial Signals/total_acc_x_test.txt

UCI HAR Dataset/test/Inertial Signals/total_acc_y_test.txt

UCI HAR Dataset/test/Inertial Signals/total_acc_y_test.txt

UCI HAR Dataset/test/Inertial Signals/total_acc_z_test.txt

UCI HAR Dataset/test/subject_test.txt

UCI HAR Dataset/train/Inertial Signals/total_acc_x_train.txt

UCI HAR Dataset/train/subject_train.txt

UCI HAR Dataset/train/Inertial Signals/body_acc_x_train.txt

data/UCI HAR Dataset/test/X_test.txt

dataset.zip

UCI HAR Dataset/README.txt
